.section-center {
    max-width: 1200px;
    padding: 80px 20px;
    margin: 0 auto;
    text-align: center;
    align-items: start;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
}

.portal-menu {
    font-size: 1.125rem;
    line-height: 1.3;
    display: flex;
    background: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all;
}

.portal-menu summary {
    transition: 1s ease;
    background: rgb(24, 71, 138);
    padding: 10px;
    color: #ffffff;
    cursor: pointer;

}

.portal-menu[open] {
    display: flex;
    flex-direction: column;
}

.portal-menu a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
    border-top: 1px solid #ddd;
}

.portal-menu a:hover {
    background-color: #f0f0f0;
}


@media (max-width: 800px) {
    .section-center {
        grid-template-columns: 1fr;
        align-items: center;
        gap: 40px;
        padding: 30px 60px;
    }
}

@media (max-width: 400px) {
    .portal-menu {
        font-size: .875rem;
        line-height: 1.1;
    }
    .portal-menu summary {
        padding: 20px;
    }
}